<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VGN Cost | {{title}}</title>

    <!-- Tell the browser to be responsive to screen width -->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"/>-->

    {{#if true}}

        <link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
    {{/if}}
    <!--<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,400italic' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>-->


    <!-- Bootstrap 3.3.4 -->
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap/bootstrap.min.css"/>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/stylesheets/vendor/font-awesome/font-awesome.min.css"/>
    <!-- Page specific styles -->
    <link rel="stylesheet" href="/stylesheets/cost/cost.css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body {{#if bodyClass}}class="{{bodyClass}}"{{/if}}>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 cost-sidebar">
            <div class="cost-sidebar-logo">
                <p><a href="/"><img src="/images/cost-logo.png" alt="GVN Energy Cost Management Service" width="40" height="40"/>
                &nbsp;<b>VGN</b> Energy</a></p>
                <p class="text-center"><small class="text-center">Cost Management</small></p>
            </div><!-- /.cost-sidebar-logo -->
            <hr class="cost-sidebar-hr"/>

            {{#if costAdmin}}
                <ul class="nav nav-sidebar admin-nav">
                    <li class="{{#if adminPages}}active{{/if}}">
                        <a class="admin-header" href="/cost/admin/dashboard">Admin Pages</a>
                        <ul class="nav nav-sidebar">
                            <li class="{{#if AdminDashboardPage}}active{{/if}}">
                                <a href="/cost/admin/dashboard">Dashboard</a>
                            </li>
                            <li  class="{{#if adminExpensesPage}}active{{/if}}">
                                <a href="/cost/admin/expenses">Expenses</a>
                            </li>
                            <li class="{{#if adminCategoriesPage}}active{{/if}}">
                                <a href="/cost/admin/categories">Categories</a>
                            </li>
                            <li class="{{#if adminDailyReportsPage}}active{{/if}}">
                                <a href="/cost/admin/daily-reports">Daily Reports</a>
                            </li>
                            <li class="{{#if adminUsersPage}}active{{/if}}">
                                <a href="/cost/admin/users">Users</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <hr class="cost-sidebar-hr"/>
            {{/if}}


            <ul class="nav nav-sidebar">
                <li class="{{#if dashboardPage}}active{{/if}}"><a href="/cost/dashboard">Dashboard</a></li>
                <li class="{{#if expensesPage}}active{{/if}}"><a href="/cost/expenses">Expenses</a></li>
                <li class="{{#if categoriesPage}}active{{/if}}"><a href="/cost/categories">Categories</a></li>
                <li class="{{#if reportsPage}}active{{/if}}"><a href="/cost/reports">Reports</a></li>
            </ul>

            <hr class="cost-sidebar-hr"/>
            <ul class="nav nav-sidebar">
                <li class="{{#if dailyReportPage}}active{{/if}}"><a href="/cost/daily-report">Daily Report</a></li>
            </ul>
            <hr class="cost-sidebar-hr"/>


            <ul class="nav nav-sidebar">
                <li class="{{#if settingsPage}}active{{/if}}"><a href="/cost/settings">Settings</a></li>
                <!--<li><a href="/cost/faq">FAQ</a></li>-->
                <li><a href="/logout">Log Out</a></li>
            </ul>
            <hr class="cost-sidebar-hr"/>
        </div>

        <div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 cost-main">

            <div class="cost-date-section">
                <p>
                    <span class='glyphicon glyphicon-time'></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Today is : &nbsp;&nbsp;{{appDate}}
                </p>
            </div>

            <div class="cost-top-nav">
                <span class="glyphicon glyphicon-user"></span>
                <a href="/cost/profile">
                    <span class="cost-top-nav-username text-capitalize"> &nbsp;&nbsp;{{user.name.first}} {{user.name.last}}</span>
                </a>
                <div class="pull-right">
                    <!--<button type="button" id="requestFundButton" class="btn btn-expense" data-toggle="modal" data-target="#requestFundModal">Add Fund</button>-->
                    <button type="button" id="addExpenseButton" class="btn btn-expense" data-toggle="modal" data-target="#addExpenseModal">Add Expense</button>
                </div>
            </div><!-- /.cost-top-nav -->

            <div class="cost-top-notification">
                <span class="glyphicon glyphicon-bell"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="cost-top-notification-text">You have no new notification</span>
            </div><!-- /.cost-top-notification -->

            <!--<div class="cost-date-section">-->
                <!--<p><span class='glyphicon glyphicon-time'></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Today is :</p>-->
            <!--</div>-->

            <div class="row cost-main-content">
                {{{body}}}
                {{> cost/forms/add-expense }}
                {{> cost/forms/request-fund }}
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/vendor/jquery.min.js"></script>
<script src="/javascripts/vendor/bootstrap.min.js"></script>
<script src="/javascripts/vendor/Chart.min.js"></script>
<script src="/javascripts/vendor/EventEmitter.min.js"></script>
<script src="/javascripts/vendor/validator.min.js"></script>


<script src="/javascripts/cost/app.js"></script>
<script src="/javascripts/cost/cost-forms.js"></script>
{{#if dashboardPage}}
    <script src="/javascripts/cost/dashboard.js"></script>
{{/if}}
{{#if expensesPage}}
    <script src="/javascripts/cost/expenses-page.js"></script>
{{/if}}
{{#if categoriesPage}}
    <script src="/javascripts/cost/categories-page.js"></script>
{{/if}}
{{#if reportsPage}}
    <script src="/javascripts/cost/report-page.js"></script>
{{/if}}
{{#if adminExpensesPage}}
    <script src="/javascripts/cost/total-expenses.js"></script>
{{/if}}
{{#if settingsPage}}
    <script src="/javascripts/cost/settings-page.js"></script>
{{/if}}
{{#if dailyReportPage}}
    <script src="/javascripts/cost/dailyReport-page.js"></script>
{{/if}}
{{#if adminUsersPage}}
    <script src="/javascripts/cost/admin/users-page.js"></script>
{{/if}}
{{#if adminUserExpensesPage}}
    <script src="/javascripts/cost/admin/userExpenses-page.js"></script>
{{/if}}
{{#if adminDailyReportsPage}}
    <script src="/javascripts/cost/admin/dailyReports-page.js"></script>
{{/if}}
{{#if adminUserDailyReportsPage}}
    <script src="/javascripts/cost/admin/userDailyReports-page.js"></script>
{{/if}}
{{#if adminCategoriesPage}}
    <script src="/javascripts/cost/admin/categories-page.js"></script>
{{/if}}

</body>
</html>