{{!-- name of the fields that will be sent through post request:
     firstName, lastName, email, password, termsAccept
 --}}
<div class="container" id="signupPage">
    <div class="signupContainer">

        <!--<div class="logo">
            <img src="/images/logo-512.png" alt="Climax Well Services"/>
        </div>
        -->


        <div class="row">
            <div class="col-xs-12">
                <hgroup>
                    <h1 class="h1 text-center">Sign up now</h1>
                    <h3 class="h2 text-center"><small>You'll be up and running in less than a minute</small></h3>
                </hgroup>
            </div>
        </div>

        <form method="post" class="signupForm" novalidate>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control flatInput" name="firstName" placeholder="First name" value="{{errors.firstName.value}}" required/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control flatInput" name="lastName" placeholder="Last name" value="{{errors.lastName.value}}" required/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="email" class="form-control flatInput" name="email" placeholder="Email" value="{{errors.email.value}}" required/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="password" name="password" class="form-control flatInput" placeholder="Password" required/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="termsAccept" /> I agree to the <a href="/legel/terms">Terms of Service</a>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="signupButton">
                        <input type="submit" name="signupBtn" value="SIGN UP">
                    </div>
                </div>
            </div>

            <p class="text-center signinDesc">Already have an account? <a href="/sim/login">Sign in here</a></p>
        </form>
    </div>
</div>

{{#if validationErrors}}
    {{#each validationErrors}}
        <p>{{this.msg}}</p>
    {{/each}}
{{/if}}
{{#if postErrors}}
    <p>yes honey: {{this.postErrors.error}}</p>
{{/if}}