{{!-- views/signup/index.handlebars --}}
{{!-- name of the fields that will be sent through post request:
     firstName, lastName, email, password, termsAccept
 --}}
<div class="register-box">
    <div class="register-logo">
        <a href="/"><b>GVN</b> Energy</a>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">Register a new membership</p>

        {{#if validationErrors}}
            {{#each validationErrors}}
                <div class="alert vgn-alert-danger">
                    <b class="text-capitalize">{{this.param}}</b>: {{this.msg}}
                </div>
            {{/each}}
        {{/if}}

        {{#if postErrors}}
            <div class="alert vgn-alert-danger">{{postErrors.error}}</div>
        {{/if}}

        <form method="post">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group has-feedback {{#if validationErrors.firstName}}has-error{{/if}}">
                        <input name="firstName" type="text" class="form-control" placeholder="First Name" value="{{values.firstName}}"/>
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group has-feedback {{#if validationErrors.lastName}}has-error{{/if}}">
                        <input name="lastName" type="text" class="form-control" placeholder="Last Name" value="{{values.lastName}}"/>
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                </div>
            </div><!-- /.row -->

            <div class="form-group has-feedback {{#if validationErrors.email}}has-error{{/if}}">
                <input name="email" type="email" class="form-control" placeholder="Email" value="{{values.email}}"/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback {{#if validationErrors.password}}has-error{{/if}}">
                <input name="password" type="password" class="form-control" placeholder="Password"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback {{#if validationErrors.confirm}}has-error{{/if}}">
                <input name="confirm" type="password" class="form-control" placeholder="Retype password"/>
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-7 col-xs-offset-1">
                    <div class="checkbox icheck">
                        <label for="">
                            <input name="acceptTerms" type="checkbox"/>  I agree to the <a href="/terms">terms</a>
                        </label>
                    </div>
                </div><!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                </div><!-- /.col -->
            </div>
        </form>
        <br/>
        <a href="/sim/login">I already have a membership</a>
    </div>
</div>
