<div class="col-xs-12">
    <h1 class="text-uppercase cost-helper-header"><span style="background: white;">settings</span></h1>
</div>

<div class="col-sm-4">
    <ul class="settings-tab list-unstyled">
        <li class="settings-tab-list settings-tab-active" data-target="#profileSettings">Profile <span class="glyphicon glyphicon-menu-right pull-right" ></span></li>
        <li class="settings-tab-list" data-target="#passwordSettings">Password <span class="glyphicon glyphicon-menu-right pull-right"></span></li>
        <li class="settings-tab-list" data-target="#otherSettings">Other <span class="glyphicon glyphicon-menu-right pull-right"></span></li>
    </ul>
</div>
<div class="col-sm-5 col-sm-offset-1">
    <div id="profileSettings" class="settings-tab-destination">
        <form class="settings-form" id="profileSettingsUpdate">
            <div class="form-group">
                <label for="profileFirstName">First Name: </label>
                <input type="text" name="profileFirstName" id="profileFirstName" class="form-control" value="{{user.name.first}}"/>
            </div>
            <div class="form-group">
                <label for="profileLastName">Last Name: </label>
                <input type="text" name="profileLastName" id="profileLastName" class="form-control" value="{{user.name.last}}"/>
            </div>
            <div class="form-group">
                <label for="profileEmail">Email: </label>
                <input type="email" id='profileEmail' class="form-control" name="profileEmail" value="{{user.email}}"/>
            </div>
            <button type="button" class="btn btn-block vgn-btn-green">Update</button>
        </form>
    </div>
    <div id="otherSettings" class="settings-tab-destination">
        <form class="settings-form" id="otherSettingsUpdate">
            <div class="form-group">
                <label for="profileCellphone">Cellphone Number: </label>
                <input type="text" name="profileCellphone" id="profileCellphone" class="form-control" placeholder="" value="{{user.profile.cellphone}}"/>
            </div>
            <div class="form-group">
                <label for="profileHomeAddress">Home Address: </label>
                <input type="text" name="profileHomeAddress" id="profileHomeAddress" class="form-control" placeholder="" value="{{user.profile.homeAddress.address}}"/>
            </div>
            <div class="form-group">
                <label for="profileHomeTel">Home Phone Number: </label>
                <input type="number" name="profileHomeTel" id="profileHomeTel" class="form-control" placeholder="" value="{{user.profile.homeAddress.tel}}"/>
            </div>
            <div class="form-group">
                <label for="#profileHomeTown">Home City: </label>
                <input type="text" id="profileHomeTown" name="profileHomeTown" class="form-control" placeholder="" value="{{user.profile.homeAddress.city}}"/>
            </div>
            <div class="form-group">
                <label for="profileHomeCountry">Home Country: </label>
                <input type="text" name="profileHomeCountry"  class="form-control" placeholder="" value="{{user.profile.homeAddress.country}}"/></div>
            <button type="button" class="btn btn-block vgn-btn-green">Update</button>
        </form>
    </div>
    
    <div id="passwordSettings" class="settings-tab-destination">
        <form id="passwordUpdate" class="settings-form">
            <div class="form-group">
                <label for="profileCurrentPass">Current Password: </label>
                <input class="form-control" name="profileCurrentPass" id="profileCurrentPass" type="password" placeholder=""/>
            </div>
            <div class="form-group">
                <label for="profileNewPass">New Password: </label>
                <input class="form-control" name="profileNewPass" id="profileNewPass" type="password" placeholder=""/>
            </div>
            <div class="form-group">
                <label for="profileNewConfirm">Repeat New Password: </label>
                <input class="form-control" name="profileNewConfirm" id="profileNewConfirm" type="password" placeholder=""/>
            </div>
            <button type="button" class="btn btn-block vgn-btn-green settings-form-button">Update</button>
        </form>
    </div>
</div>