<div class="col-xs-12">
    <h1 class="text-uppercase cost-helper-header"><span style="background: white;">settings</span></h1>
</div>

<div class="col-sm-4">
    <ul class="settings-tab list-unstyled">
        <li class="settings-tab-list settings-tab-active" data-target="#profileSettings">Profile <span class="glyphicon glyphicon-menu-right pull-right" ></span></li>
        <li class="settings-tab-list" data-target="#passwordSettings">Password <span class="glyphicon glyphicon-menu-right pull-right"></span></li>
        <li class="settings-tab-list" data-target="#otherSettings">Other <span class="glyphicon glyphicon-menu-right pull-right"></span></li>
    </ul>
</div>
<div class="col-sm-5 col-sm-offset-1">
    <div id="profileSettings" class="settings-tab-destination">
        <form class="settings-form" id="profileSettingsUpdate">
            <div class="form-group">
                <input type="text" name="profileFirstName" class="form-control" value="{{user.name.first}}"/>
            </div>
            <div class="form-group">
                <input type="text" name="profileLastName" class="form-control" value="{{user.name.last}}"/>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="profileEmail" value="{{user.email}}"/>
            </div>
            <button type="button" class="btn btn-block vgn-btn-green">Update</button>
        </form>
    </div>
    <div id="workSettings" class="settings-tab-destination">
        <form class="settings-form" id="otherSettingsUpdate">
            <div class="form-group">
                <input type="number" name="profileCellphone" class="form-control" placeholder="Mobile Number" value="{{user.profile.cellphone[0]}}"/>
            </div>
            <div class="form-group">
                <input type="text" name="profileHomeAddress" class="form-control" placeholder="Home Address" value="{{user.profile.homeAddress.address}}"/>
            </div>
            <div class="form-group">
                <input type="number" name="profileHomeTel" class="form-control" placeholder="Home Tel" value="{{user.profile.homeAddress.tel[0]}}"/>
            </div>
            <div class="form-group">
                <input type="text" name="profileHomeTown" class="form-control" placeholder="Home City" value="{{user.profile.homeAddress.city}}"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control"/></div>
        </form>
    </div>
    
    <div id="passwordSettings" class="settings-tab-destination">
        <form id="passwordUpdate" class="settings-form">
            <div class="form-group">
                <input class="form-control" name="profileOldPassword" type="password" placeholder="Current Password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="profileNewPassword" type="password" placeholder="New Password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="profileNewConfirm" type="password" placeholder="Repeat New Password"/>
            </div>
        </form>
    </div>
</div>